{
  "$schema": "https://biomejs.dev/schemas/2.2.4/schema.json",
  "assist": { "actions": { "source": { "organizeImports": "on" } } },
  "linter": {
    "enabled": true,
    "rules": {
      "recommended": true,
      "correctness": {
        "noUnusedVariables": "error",
        "useUniqueElementIds": "off"
      },
      "suspicious": {
        "noArrayIndexKey": "off",
        "noExplicitAny": "error"
      },
      "style": {
        "noNonNullAssertion": "off",
        "useConsistentArrayType": "error"
      },
      "complexity": {
        "noUselessCatch": "error",
        "useArrowFunction": "off"
      },
      "performance": {
        "noDelete": "error"
      }
    }
  },
  "formatter": {
    "enabled": true,
    "formatWithErrors": false,
    "indentStyle": "space",
    "indentWidth": 2,
    "lineEnding": "lf",
    "lineWidth": 100,
    "attributePosition": "auto"
  },
  "javascript": {
    "formatter": {
      "quoteStyle": "single",
      "jsxQuoteStyle": "double",
      "quoteProperties": "asNeeded",
      "trailingCommas": "es5",
      "semicolons": "asNeeded",
      "arrowParentheses": "always",
      "bracketSpacing": true,
      "bracketSameLine": false,
      "attributePosition": "auto"
    }
  },
  "json": {
    "formatter": {
      "trailingCommas": "none"
    }
  },
  "files": {
    "includes": [
      "**/*.js",
      "**/*.ts",
      "**/*.jsx",
      "**/*.tsx",
      "**/*.json",
      "!**/node_modules",
      "!**/dist",
      "!**/.wrangler",
      "!**/*.d.ts",
      "!**/routeTree.gen.ts",
      "!**/components/ui",
      "!**/.turbo",
      "!**/.claude"
    ]
  }
}
