{
  "extends": "./tsconfig.base.json",
  "compilerOptions": {
    "noEmit": false,
    "emitDeclarationOnly": false,
    "incremental": true,
    "tsBuildInfoFile": "./.tsbuildinfo"
  },
  "references": [
    { "path": "./packages/types" },
    { "path": "./packages/config" },
    { "path": "./packages/ui" }
  ],
  "files": []
}