# Worker runtime environment variables
NODE_ENV="development"
DOMAIN="hello-world.mvpkit.dev"
COOKIE_DOMAIN="hello-world.mvpkit.dev"
TRUSTED_ORIGINS="http://localhost:3000,http://localhost:3001,http://localhost:3002,https://hello-world.mvpkit.dev,https://app.hello-world.mvpkit.dev,https://www.hello-world.mvpkit.dev"
