VITE_PROJECT_NAME="hello-world-app"
VITE_DOMAIN="app.hello-world.mvpkit.dev"
VITE_API_URL="http://localhost:3011"
VITE_APP_URL="http://localhost:3002"
VITE_ALLOWED_HOSTS="localhost,127.0.0.1,app.hello-world.mvpkit.dev,hello-world.mvpkit.dev,*.hello-world.mvpkit.dev"
